<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="http://localhost:4200" class="navbar-brand">
        <img src="assets/img/bs4.svg" class="logo">
        </a>
      <span class="navbar-brand">Angular5 + Bootstrap -- CRUD Tutorial</span>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="create" routerLinkActivate="active">
          Add Coin
          </a>
        </li>
      </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

